.nav{
    background-color: $color-orange;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium){
        box-shadow: $navShadow;
    }
    
    &__item{
        font-size: 1.4rem;
        list-style: none;

        &:not(:last-child){
            margin-bottom: 1rem;

            @media only screen and (max-height: $bp-smallHeight) {  //menu elemek kiférjenek kis telefonon oldal nézetben is
                margin-bottom: 0;            
            }
        }
    }

    &__link{
        display: flex;
        align-items: center;
        color: $color-white;
        transition: all .2s;

        padding: 1rem;

        &:link,
        &:link:active,
        &:link:visited{
            text-decoration: none;
            color: $color-white;
        }

            &:hover{
                background-color: $color-white;
                color: $color-orange;
                transition: all .2s;
            }
    }
}