.about{
    display: grid;
    grid-auto-rows: max-content;    //auto grid, hogy bármennyi elemet elbírjon
    justify-items: center;
    row-gap: 2rem;
    margin-top: 1rem;

    &__item{
        padding: 1rem;
        box-shadow: $shadow;
    }

    h2{
        font-size: 2rem;
        justify-self: left;
    }

    h3{
        font-size: 1.5rem;
        color: $color-orange;

        margin-bottom: .5rem;
    }

    p{
        font-size: 1.2rem;
        line-height: 2rem;

        margin-left: 1rem;
    }

    span{
        margin-top: -1.5rem;
        justify-self: left;

        font-size: 1.2rem;
        color: $color-orange;
    }

    a:link,
    a:visited{
        font-size: 1.2rem;
        line-height: 2rem;
        text-decoration: none;
        color: $color-jet;
        font-weight: 500;
        margin-left: 1rem;
        padding: .5rem 0;
    }
}