html{
    font-family: $montserrat;
    font-weight: 500;
    font-size: 62.5%; //1rem 10px   -moz-animation: reszponzív méretezéshez;
}

input, button{  //mindenhol ugyanolyan legyen a betűtípus
    font-family: $montserrat;
}